
<form asp-action ="Index">
    <div>
    <label for ="Name">Dien Name</label>
    <input type ="text" name ="Name" >
    </div>
    <div>
        <label for ="age">Dien tuoi </label>
        <input type="number" name ="age" />
    </div>
    <div>
        <input type ="submit" value="Gui" class ="btn btn-success">
    </div>
</form>

<p class ="text-center text-danger">@ViewBag.x</p>